<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gallery</title>
    <script src="common/jquery-2.1.4.min.js"></script>
    <script src="common/common.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <!--type="text/jsx" jsx 必须加上-->
    <!--<script src="common/test.bundle.js"></script>-->
    <script src="common/index.bundle.js"></script>

</div>
</body>
</html>