$fontSize: 12px;
.flex-container{
  display: -moz-box;  /* Firefox */
  display: -ms-flexbox;    /* IE10 */
  display: -webkit-box;    /* Safari */
  display: -webkit-flex;    /* Chrome, WebKit */
  display: flex;
  width: 100%;
  height: 100%;
  background-color: gray;
}

.flex-inline-container{
  display: -moz-inline-box;  /* Firefox */
  display: -ms-inline-flexbox;    /* IE10 */
  display: -webkit-inline-flex;    /* Chrome, WebKit */
  display: inline-flex;
  width: 100%;
  height: 100%;
  background-color: gray;

}

.box {
  @extend .flex-container;
  width: 100%;
  height: 600px;
  background: red;

  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  -ms-flex-direction: row;
  -ms-justify-content: space-between;
  -ms-align-items: center;

  .child-common {
    width: 10%;
    height: 400px;
    background: green;
    font-size: $fontSize;
  }

  .child {
    @extend .flex-inline-container;
    @extend .child-common;
    align-items: center;
    justify-content: center;

    -ms-align-items: center;
    -ms-justify-content: center;
  }

  .child1 {
    @extend .flex-inline-container;
    @extend .child-common;
    background: darkgray;
    flex-direction: row;
    align-items: center;

    -ms-flex-direction: row;
    -ms-align-items: center;

    .child1-child{
      @extend .flex-inline-container;
      width: 20%;
      height: 50px;
      background: #e9ff2d;
      justify-content: center;
      align-items: center;

      -ms-justify-content: center;
      -ms-align-items: center;
    }

  }

}


